@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply font-inter  
}

#background{
  width: 100%;
  height: 100%;
  background-color: rgb(19, 19, 59);
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }


  .timeline-line {
    position: absolute;
    width: 2px; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    background-color: #333; /* Adjust the line color as needed */
    left: 7px; /* Adjust the left position to center the line */
    transform: translateX(-50%);
    z-index: 0; /* Ensure the line is above other elements */
  }

  .form_textarea { 
    @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;

  }

  .form_question_description {
    @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
  }

  .form_input {
    @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;

  }